.content{
    height: 2500px;
    margin-bottom: 100px;
    
}

.main{
    padding-top: 40px;
    padding-bottom: 80px;
    flex-grow: 1;
}

.grouping{
    display: inline-flex;
    gap: 100px;
    text-align: center;
}

.item{
    width: 500px;
}

.title{
    width: 450px;
    padding-top: 20px;
    height: 50px;
    padding-left: 30px;
}

.item a{
    color: gold;
}

.item img{
    height: 350px;
}